.theme-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 800px;
  }
  
  .theme-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s ease-in-out;
  }
  
 
  
  .color-pallet {
    display: flex;
    justify-content: space-between;
    /* width: 150px; */
    margin-bottom: 10px;
  }
  
  .color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  
  .theme-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 800px;
  }
  
  .theme-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
    transition: transform 0.2s ease-in-out;
  }
  
  /* .theme-item:hover {
    transform: translateY(-5px);
  } */
  
  .color-pallet {
    display: flex;
    justify-content: space-between;
    /* width: 150px; */
    margin-bottom: 10px;
  }
  
  .color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
  }
  
  .color:hover {
    transform: translateY(-5px);
  }
  
  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

 .theme-picker-container {
    position: fixed;
z-index: 99999;
    top:10px;
    
  }

  .theme-picker-container {
    position: fixed;
    z-index: 99999;
    top: 10px;
  }
  
  .theme-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .color-pallet {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .color {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .color:hover {
    transform: translateY(-5px);
  }
  
  @media (max-width: 600px) {
    .theme-picker {
      padding: 5px;
    }
  }