.email-popup {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

   z-index: 999999;
  }
  
  .email {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:last-child {
    background-color: #dc3545;
  }
  
  button:last-child:hover {
    background-color: #c82333;
  }